* @JoshuaWise
/package.json @JoshuaWise @WiseLibs/better-sqlite3-team
/docs/compilation.md @JoshuaWise @WiseLibs/better-sqlite3-team
/docs/performance.md @JoshuaWise @WiseLibs/better-sqlite3-team
/docs/troubleshooting.md @JoshuaWise @WiseLibs/better-sqlite3-team
/deps/sqlite3/sqlite3.c @JoshuaWise @WiseLibs/better-sqlite3-team
/deps/sqlite3/sqlite3.h @JoshuaWise @WiseLibs/better-sqlite3-team
/deps/sqlite3/sqlite3ext.h @JoshuaWise @WiseLibs/better-sqlite3-team
/.github/workflows/build.yml @JoshuaWise @WiseLibs/better-sqlite3-team
